/* font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");
@import "./common.css";
@import "./header.css";
@import "./slider.css";
@import "./footer.css";

/* common styles start  */
body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

img {
  max-width: 100%;
}

#sliderSplit {
  display: flex;
  gap: 5%;
  width: 96%;
}

#sliderSplit h2 {
  flex-basis: 50%;
}

/* about us styles start */

.aboutus {
  text-align: center;
}

.aboutus .commonHeading {
  margin-bottom: 37px;
}

.aboutus_imagewrapper {
  width: 420px;
  height: 550px;
  margin: auto;
}

.aboutus_imagewrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.join {
  text-align: center;
}

.join .commonHeading{
  margin-bottom: 0;
}

.association .commonHeading{
  margin-bottom: 0;
}
.association {
  text-align: center;
}
#associationSlider {
  padding-bottom: 100px;
}
.association-slider .slide img{
  margin: auto;
}

.contact {
  text-align: center;
}
.contact iframe {
  max-width: 100%;
}

.teQAzf {
  max-width: 98vw;
}

/* locations styles */
.locations {
  background: #01374e;
  position: relative;
  padding-bottom: 50px;
}

.locations_details {
  display: flex;
  flex-wrap: wrap;
}

.locations_text {
  flex-basis: 33%;
  padding-bottom: 50px;
  padding-right: 2%;
  text-align: center;
}

.locations_text h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 180%;
  color: #ffffff;
  position: relative;
  padding-top: 12px;
}

.locations_text h3::before {
  content: "";
  width: 32px;
  height: 3px;
  background-color: rgba(204, 215, 220, 0.45);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  border-radius: 6px;
}

.locations_text p {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #ccd7dc;
}

.locations img {
  display: none;
  max-width: 100%;
}

/* locations styles ends here */

/****************************** responsive styles *******************************************/

/* container styles */
@media only screen and (min-width: 1250px) {
  .container {
    max-width: 1200px;
    padding: 0;
  }
}

/* container styles end here */

/* what we do image wrapper styles end here */

/* common styles */
@media only screen and (max-width: 768px) {
  .commonHeading {
    margin-bottom: 42px;
  }

  .commonHeading label {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .commonHeading h2 {
    font-size: 24px;
  }

  .orange-btn {
    padding: 11px;
    font-size: 14px;
  }

}

/* common styles end here */

@media only screen and (max-width: 1200px) {
  .aboutus_text {
    padding-right: 20px;
  }

  header .container {
    padding: 15px 25px;
  }

  .slider_content {
    left: 2%;
    width: 65%;
  }
}

@media only screen and (max-width: 991px) {
  .slider_content {
    width: 70%;
  }

  .product__slider-thmb .slide {
    justify-content: center;
  }

  .product__slider-thmb .slide p {
    display: none;
  }

  .slider_content h2 {
    font-size: 32px;
    line-height: 48px;
  }

  .slider_content p {
    font-size: 14px;
    line-height: 25px;
    width: 100%;
  }

  .footerSociallinks {
    max-width: 203px;
  }

  .aboutus_image {
    margin-bottom: 42px;
  }
}

@media only screen and (max-width: 767px) {
  #sliderSplit {
    height: 30vh;
    flex-direction: column;
    gap: 30%;
  }
}
@media only screen and (max-width: 768px) {
  section {
    padding: 64px 0px;
  }

  .slider_content {
    width: 100%;
    left: 0;
    padding: 0 2%;
  }

  header .container {
    padding: 10px 20px;
  }  

  .slider_bottom {
    height: 70px;
  }

  .product__slider-thmb .slide {
    padding: 0px;
    height: 70px;
  }

  .product__slider-thmb .slide span {
    margin-right: 0px;
  }

  .footer {
    padding-top: 40px;
  }

  img.footerlogo {
    max-width: 55px;
  }

  .footerSociallinks img {
    max-width: 28px;
  }

  .footerSociallinks {
    max-width: 160px;
  }

  .footer_brand,
  .footer_linkscontent {
    flex-wrap: wrap;
  }

  .footer_linkscontent h6 {
    font-weight: 500;
    line-height: 150%;
  }

  .aboutus_imagewrapper {
    width: 100%;
    height: auto;
  }

  .aboutus .commonHeading {
    margin-bottom: 42px;
  }

  .locations_details {
    justify-content: space-between;
  }

  .locations_text {
    flex-basis: 50%;
    padding-bottom: 42px;
    padding-right: 3%;
  }

  .locations_text:last-child {
    padding-bottom: 0;
  }

  .locations img {
    display: block;
    margin-top: 32px;
  }

  .locations_text h3 {
    font-size: 24px;
  }

  .locations_text p {
    font-size: 16px;
  }

  .locations_text:last-child {
    margin-bottom: 0;
  }

  .locations {
    background-image: none;
    padding-bottom: 22px;
  }

}

/****************************** responsive styles ends here *********************************/