/* font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");
@import "./common.css";
@import "./header.css";
@import "./slider.css";
@import "./footer.css";
@import "./modal.css";

/* common styles start  */
body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* about us styles start */

.aboutus {
  text-align: center;
}

.aboutus .commonHeading {
  margin-bottom: 37px;
}

.aboutus_imagewrapper {
  width: 420px;
  height: 550px;
  margin: auto;
}

.aboutus_imagewrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.join {
  text-align: center;
}

.join .commonHeading{
  margin-bottom: 0;
}

.association .commonHeading{
  margin-bottom: 0;
}
.association {
  text-align: center;
}
#associationSlider {
  padding-bottom: 100px;
}
.association-slider .slide img{
  margin: auto;
}

.contact {
  text-align: center;
}
.contact iframe {
  max-width: 100%;
}

.teQAzf {
  max-width: 98vw;
}

/****************************** responsive styles *******************************************/

/* container styles */
@media only screen and (min-width: 1250px) {
  .container {
    max-width: 1200px;
    padding: 0;
  }
}

/* container styles end here */

/* what we do image wrapper styles */
@media (max-width: 1250px) {
  .panels_imagewrapper {
    max-width: 100%;
    height: auto;
  }
}

/* what we do image wrapper styles end here */

/* common styles */
@media only screen and (max-width: 768px) {
  .commonHeading {
    margin-bottom: 42px;
  }

  .commonHeading label {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .commonHeading h2 {
    font-size: 24px;
  }

  .orange-btn {
    padding: 11px;
    font-size: 14px;
  }

}

/* common styles end here */

@media only screen and (max-width: 1200px) {
  .aboutus_text {
    padding-right: 20px;
  }

  header .container {
    padding: 15px 25px;
  }

  .slider_content {
    left: 2%;
    width: 65%;
  }
}

@media only screen and (max-width: 991px) {
  .slider_content {
    width: 70%;
  }

  .product__slider-thmb .slide {
    justify-content: center;
  }

  .product__slider-thmb .slide p {
    display: none;
  }

  .slider_content h2 {
    font-size: 32px;
    line-height: 48px;
  }

  .slider_content p {
    font-size: 14px;
    line-height: 25px;
    width: 100%;
  }

  .footer .subscribe_section {
    flex-direction: column;
  }

  .footer_subscribetext {
    margin-bottom: 32px;
  }

  .footer_details {
    flex-direction: column;
  }

  .footer_brand {
    margin-bottom: 30px;
  }

  .footerSociallinks {
    max-width: 203px;
  }

  .aboutus .commonHeading.mobileHeading {
    display: block;
  }

  .aboutus .commonHeading.desktopHeading {
    display: none;
  }

  .aboutus_details {
    flex-direction: column-reverse;
    position: relative;
    align-items: flex-start;
  }

  .aboutus_image {
    margin-bottom: 42px;
  }

  .aboutus_text {
    padding-right: 0px;
  }
  
}

@media only screen and (max-width: 768px) {
  section {
    padding: 64px 0px;
  }

  .slider_content {
    width: 100%;
    left: 0;
    padding: 0 2%;
  }

  header .container {
    padding: 10px 20px;
  }

  .slider_bottom {
    height: 70px;
  }

  .product__slider-thmb .slide {
    padding: 0px;
    height: 70px;
  }

  .product__slider-thmb .slide span {
    margin-right: 0px;
  }

  .footer {
    padding-top: 40px;
  }

  .footer_subscribetext p {
    font-size: 14px;
    line-height: 150%;
    max-width: 100%;
  }

  .footer_subscribeform .emailinput {
    padding: 11px 24px;
    margin-bottom: 12px;
  }

  .footer_subscribeform .emailinput input {
    font-size: 12px;
  }

  .footer_subscribeform .emailinput img {
    max-width: 14px;
    margin-right: 8px;
  }

  img.footerlogo {
    max-width: 55px;
  }

  .footer .subscribe_section {
    padding-bottom: 42px;
  }

  .footer_brand p {
    max-width: 100%;
    padding-top: 16px;
    color: #bdbec4;
  }

  .footerSociallinks img {
    max-width: 28px;
  }

  .footerSociallinks {
    max-width: 160px;
  }

  .footer_brand,
  .footer_linkscontent {
    flex-wrap: wrap;
  }

  .footer_links {
    margin-bottom: 30px;
  }

  .footer_links:last-child {
    margin-bottom: 0px;
  }

  .footer_linkscontent h6 {
    font-weight: 500;
    line-height: 150%;
  }

  .footer_links {
    flex-basis: 100%;
  }

  .footer_brand,
  .footer_linkscontent {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .footer_copyrights {
    flex-direction: column;
  }

  .footer_copyrights div:first-child {
    margin-bottom: 12px;
  }

  .footer_copyrights ul li:nth-child(2) {
    display: none;
  }

  .footer_copyrights ul {
    flex-direction: column;
    align-items: start;
  }

  .footer_copyrights ul li {
    padding-right: 0px;
    padding-bottom: 12px;
  }

  .footer_copyrights ul li:last-child {
    padding-bottom: 0px;
  }

  .footer_copyrights p,
  .footer_copyrights ul li:last-child a {
    color: #ccd6db;
    line-height: 160%;
  }

  .footer_copyrights {
    padding-bottom: 0px;
  }

  .aboutus_imagewrapper {
    width: 100%;
    height: auto;
  }

  .aboutus .commonHeading {
    margin-bottom: 42px;
  }

}

/****************************** responsive styles ends here *********************************/